In [1]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv', sep = ',', decimal = '.')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

In [2]:
# 2.2

melb_df.sort_values(by = 'AreaRatio', ascending = False, ignore_index = True).loc[1558, 'BuildingArea']

126.0

In [3]:
# 2.3

round(melb_df[(melb_df['Rooms'] > 2) & (melb_df['Type'] == 'townhouse')].sort_values(
    by = ['Rooms', 'MeanRoomsSquare'], ascending = [True, False], ignore_index = True
    ).loc[18, 'Price'])

1300000

In [4]:
# 3.1

melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending = False)

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

In [5]:
# 3.2

melb_df.groupby('Regionname')['Lattitude'].std().sort_values(ascending = True)
melb_df['Date']

0        2016-03-12
1        2016-04-02
2        2017-04-03
3        2017-04-03
4        2016-04-06
            ...
13575    2017-08-26
13576    2017-08-26
13577    2017-08-26
13578    2017-08-26
13579    2017-08-26
Name: Date, Length: 13580, dtype: object

In [6]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
melb_df['Month'] = melb_df['Date'].dt.month
melb_df['Year'] = melb_df['Date'].dt.year
melb_df[(melb_df['Month'] <= 10) & (melb_df['Month'] >= 4) & (melb_df['Year'] == 2017)].groupby(by = 'SellerG')['Price'].count().sort_values(ascending=True)

SellerG
LITTLE             5
Cayzer             8
Burnham            9
Moonee            12
Alexkarbon        13
Nick              13
Thomson           15
McDonald          18
Collins           18
Rendina           19
Bells             19
Chisholm          22
Buckingham        28
Philip            30
Purplebricks      31
Eview             32
Williams          32
C21               34
Kay               35
Douglas           39
O'Brien           39
Village           39
RW                45
Love              45
Gary              46
RT                47
HAR               49
Miles             57
Raine             58
Hodges            59
Stockdale         65
Sweeney           70
Greg              87
Jas               89
Noel              89
YPA              102
Brad             102
Harcourts        103
McGrath          105
Woodards         107
Fletchers        113
Biggin           135
Marshall         199
Buxton           246
Ray              373
Barry            415
Jellis           437
hockingstuart    440
other            510
Nelson           511
Name: Price, dtype: int64

In [7]:
# 4.2

melb_df.pivot_table(values = 'BuildingArea', index = 'Rooms', columns = 'Type', aggfunc = 'median')

Type   house  townhouse   unit
Rooms
1      126.0       88.0   69.5
2      126.0      114.0  110.0
3      126.0      126.0  126.0
4      141.0      159.5  126.0
5      177.0      152.0    NaN
6      126.0        NaN  171.0
7      216.5        NaN    NaN
8      126.0        NaN  126.0
10     126.0        NaN    NaN

In [13]:
# 4.3

for_4_3 = melb_df.pivot_table(values = 'Price', index = 'SellerG', columns = 'Type', aggfunc = 'median', fill_value = 0)
for_4_3['unit'].sort_values(ascending=False)

SellerG
Nick             900000
Marshall         715000
Cayzer           707500
Kay              695000
Noel             693250
Buxton           670000
Fletchers        653000
Chisholm         640000
Philip           636000
RT               630000
C21              625500
RW               625500
Moonee           622000
O'Brien          618500
Hodges           605500
Eview            602000
Woodards         600000
Collins          592000
Jellis           591750
Purplebricks     582500
Williams         577000
hockingstuart    566000
Alexkarbon       560000
Miles            555000
Buckingham       553000
Gary             550000
Biggin           548000
Greg             547500
McGrath          542500
other            535000
Nelson           530000
HAR              518000
McDonald         502500
Barry            502000
Harcourts        500000
Ray              497500
Thomson          495000
Douglas          494500
Brad             465000
Rendina          459000
Bells            457500
Jas              455000
Raine            447500
LITTLE           447000
YPA              443500
Love             440000
Village          420000
Stockdale        410000
Sweeney          381000
Burnham          305000
Name: unit, dtype: int64