In [27]:
import pandas as pd

movies = pd.read_csv('data/movies.csv', sep = ',', decimal = '.')
ratings1 = pd.read_csv('data/ratings1.csv', sep = ',', decimal = '.')
ratings2 = pd.read_csv('data/ratings2.csv', sep = ',', decimal = '.')
dates = pd.read_csv('data/dates.csv', sep = ',', decimal = '.')
dates

                       date
0       2000-07-30 18:45:03
1       2000-07-30 18:20:47
2       2000-07-30 18:37:04
3       2000-07-30 19:03:35
4       2000-07-30 18:48:51
...                     ...
100831  2017-05-03 21:53:22
100832  2017-05-03 22:21:31
100833  2017-05-08 19:50:47
100834  2017-05-03 21:19:12
100835  2017-05-03 21:20:15

[100836 rows x 1 columns]

In [37]:
movies['title'].nunique()
ratings1['userId'].nunique()
dates = pd.to_datetime(dates, yearfirst = True)
years = dates.dt.year.mode()
years

0    2000
Name: date, dtype: int64