In [3]:
import pandas as pd
import numpy as np

In [6]:
def stand(a):
    a = str(a)
    a = a.replace(' ', '')
    a = a.lower()
    return a

In [10]:
data = pd.read_csv('data/cases.csv')
data['Компания'] = data['Компания'].apply(stand)
data = data.drop_duplicates()
data

                                Компания
0                      тнтostravac.z.a.s
1                        тапоичг.ташкент
2    таллиннскийприборостроительныйзавод
3             haryanaleatherchemicalltd.
4                 apanimexprivatelimited
..                                   ...
719                          guamas.r.l.
720                 exeltecnologies.r.l.
721                           europiclon
723                            bonderite
724                            akiraseik

[719 rows x 1 columns]

In [11]:
!git add .

warning: in the working copy of 'data/cases.csv', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'delete.ipynb', LF will be replaced by CRLF the next time Git touches it

In [ ]:
!git commit -a -m "Рабочий файл"