In [70]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',', decimal = '.')
melb_data.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"

In [71]:
# 2.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['population'] *= 1000000
countries_df['density'] = countries_df['population'] / countries_df['square']
density_mean = countries_df['density'].mean()
round(density_mean, 2)
countries_df[['country', 'density']]

     country     density
0     Англия  421.976671
1     Канада    3.810842
2        США   32.796595
3     Россия    8.539467
4    Украина   75.377550
5   Беларусь   45.761079
6  Казахстан    6.253436

In [72]:
# 3.3

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_of_week
melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)]['WeekdaySale'].count()

12822

In [73]:
# 3.4

ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo['Time'] = pd.to_datetime(ufo['Time'], dayfirst = True)
ufo['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int64

In [74]:
# 3.5

ufo['Date'] = ufo['Time'].dt.date
diff_date = ufo[ufo['State'] == 'NV']['Date'].diff()
in_days = diff_date.dt.days
round(in_days.mean())

69

In [75]:
# 4.2

melb_df['WeekdaySale'] = pd.to_datetime(melb_df['Date'], yearfirst=True)
melb_df['WeekdaySale'] = melb_df['WeekdaySale'].dt.day_of_week
melb_df['WeekdaySale'].unique()

get_weekend = lambda weekday: 1 if weekday == 5 or weekday == 6 else 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [76]:
# Повторение

def clear_address(address):
    fail_list = ['N', 'W', 'S', 'E']
    address = address.split(' ')
    if address[-1] in fail_list:
        return address[-2]
    else:
        return address[-1]

melb_df['StreetType'] = melb_df['Address'].apply(clear_address)

def elim_str(address):
    small_list = []
    for a in melb_df['StreetType'].unique():
        if len(a) <= 3:
            small_list.append(a)
    for sub in small_list:
        if set(sub).issubset(set(address)):
            return sub
    return address

melb_df['StreetType'] = melb_df['StreetType'].apply(elim_str)
melb_df['StreetType'].unique()

array(['St', 'La', 'Rd', 'Gr', 'Ct', 'Dr', 'Pde', 'Pl', 'Hwy', 'Tce',
       'Bvd', 'Cl', 'Athol', 'Av', 'Righi', 'Esp', 'Cir', 'Cr', 'Sq',
       'Res', 'Cove', 'Mews', 'Qy', 'Glade', 'Nook', 'Gdns', 'Victoria',
       'Fairway', 'Loop', 'East', 'Dell', 'Eyrie', 'Wy', 'Hts', 'Outlook',
       'Woodland'], dtype=object)

In [77]:
# Повторение

popular_stypes = melb_df['StreetType'].value_counts().nlargest(10).index
melb_df['StreetType'] = melb_df['StreetType'].apply(lambda x: x if x in popular_stypes else 'other')
melb_df['StreetType'].unique()

array(['St', 'other', 'Rd', 'Gr', 'Ct', 'Dr', 'Pde', 'Pl', 'Cl', 'Av',
       'Cr'], dtype=object)

In [78]:
# 4.3

top_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_sellers else 'other')
result = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'other']['Price'].min()
round(result, 1)

1.3

In [79]:
# 4.4

test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

def get_experience(arg):
    year_list = ['лет', 'года', 'год']
    month_list = ['месяц', 'месяцев', 'месяца']
    year_fin = 0
    month_fin = 0
    string = arg.split(' ')
    for year in year_list:
        if year in string:
            year_index = string.index(year)
            year_string = string[0:year_index]
            year_fin = int(year_string[-1])
    for month in month_list:
        if month in string:
            month_index = string.index(month)
            string = string[0:month_index]
            month_fin = int(string[-1])
    result =  month_fin + year_fin * 12
    return result

 

print(test_series_1.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [80]:
# 5.2
display(melb_df.info())
top = list(melb_df['Suburb'].value_counts().nlargest(119).index)
top_sub = melb_df['Suburb'].apply(lambda x: x if x in top else 'other')
melb_df['Suburb'] = top_sub.astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
 25  StreetType     13580 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(10), object(9)
memory usage: 2.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
 25  StreetType     13580 non-null  object
dtypes: category(1), datetime64[ns](1), float64(6), int64(10), object(8)
memory usage: 2.6+ MB

In [86]:
# 6.1

bikes = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
display(bikes['gender'].value_counts(normalize=True))
bikes[bikes['gender'] == 1]['gender'].count()

1    0.611940
2    0.248353
0    0.139707
Name: gender, dtype: float64

183582

In [94]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [131]:
# 6.2

bikes['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64