In [1]:
# 2.4

import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications

def get_percent(medications, name):
    a = 0
    for b in medications:
        a+=b
    percent = medications.loc[name]
    result = percent / a * 100
    return result

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [14]:
# 3.5

import pandas as pd

def create_companyDF(incomes, expenses, years):
    result = pd.DataFrame({'incomes':incomes, 'expenses': expenses}, index = [years])
    return result

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
create_companyDF(incomes, expenses, years)

      incomes  expenses
2018      478       156
2019      512       130
2020      196       270

In [5]:
# 6.3

melb_data = pd.read_csv('data/melb_data.csv', sep=',', decimal='.')
melb_data['Coordinates'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Coordinates
Non-Null Count  Dtype
--------------  -----
13580 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

In [29]:
# 6.5

melb_data = pd.read_csv('data/melb_new.csv', sep=';', decimal='.')
melb_data.describe(include = 'object')

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [34]:
# 6.8

melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64