In [2]:
# 2.4

import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications

def get_percent(medications, name):
    a = 0
    for b in medications:
        a+=b
    percent = medications.loc[name]
    result = percent / a * 100
    return result

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [14]:
# 3.5

import pandas as pd

def create_companyDF(incomes, expenses, years):
    result = pd.DataFrame({'incomes':incomes, 'expenses': expenses}, index = [years])
    return result

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
create_companyDF(incomes, expenses, years)

      incomes  expenses
2018      478       156
2019      512       130
2020      196       270